@use '../../../styles/_variables'

button
    background-color: variables.$dark-primary-color
    color: variables.$bright-primary-color
    padding: 1rem 3rem
    border: none
    font-family: variables.$primary-font
    align-self: center
    text-transform: uppercase
    margin-top: .5rem
    width: 100%
.rounded-white
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    background-color: variables.$bright-primary-color
    color: variables.$dark-primary-color
.rounded-black
    border-top-left-radius: 20px
    border-top-right-radius: 20px
