@use '../../../styles/_variables'

.reviews
    background-color: variables.$primary-color
    .title
        text-align: center
        padding: 1rem
        background-color: variables.$bright-primary-color
    .reviewsContainer
        height: fit-content
        width: 80%
        background-color: variables.$primary-color
        display: flex
        justify-content: space-evenly
        margin: auto
        align-items: center

@media screen and (max-width: variables.$screen-lg)
    .reviews
        .reviewsContainer
            flex-direction: column
