@use '../../../../styles/_variables'
@use '../../../../styles/_mixins'

.mobile-menu-icons-list
    @include mixins.breakpoint(large)
        display: none
    @include mixins.breakpoint(medium)
        display: flex
        flex-direction: row
        list-style: none
        li .link
            @include mixins.breakpoint(medium)
            padding: 0.5rem
            font-size: 2rem
            text-decoration: none
            color: variables.$dark-primary-color
