@use '../../../../styles/_variables'

.product
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    .productContainer
        width: 80%
        display: flex
        height: fit-content
        margin-top: 5rem
        .images
            margin: 0
            width: 75%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            .photo
                width: 450px
                height: 300px
            .photoGallery
                height: 10rem
                .galleryItem
                    border: 1px solid variables.$dark-secondary-color
                    margin: 0.5rem
                    width: 100px
                    height: 100px

@media screen and (max-width: variables.$screen-lg)
    .product
        align-items: none
        .productontainer
            width: 90%
            justify-content: space-around
            .images
                width: 50%
                .photo
                    width: 425px
                    height: 275px
                .photoGallery
                    .photo__gallery_item
                        width: 75px
                        height: 75px

@media screen and (max-width: variables.$screen-md)
    .product
        .productContainer
            padding-top: 4rem
            width: 100%
            justify-content: center
            align-items: center
            margin: auto
            flex-direction: column
            .images
                width: 90%
                height: fit-content
                .photo
                    width: 375px
                    height: 225px
                .photoGallery
                    .galleryItem
                        width: 50px
                        height: 50px
