@import '../../sassStyles/_variables'
@import '../../sassStyles/_typography'
@import '../../sassStyles/_mixins'

.hero
    height: 70vh
    background: url("../../img/bg.jpg")
    background-size: cover
    background-position: top
    background-attachment: fixed
    display: flex
    justify-content: center
    .hero__container
        width: 1000px
        height: 220px
        border-radius: 50px 50px 50px 150px
        background-color: $primary-color-opacity
        position: absolute
        bottom: 15rem
        padding-top: .5rem
        margin: 1rem
        .hero__item
            width: 400px
            position: absolute
            left: 0
            text-align: right
            .hero__title,
            .hero__subtitle
                color: $bright-primary-color
                margin: 0
            .hero__btn
                @include cta-button

@media screen and (max-width: $screen-lg)
    .hero
        height: 75vh
        .hero__container
            width: 700px
@media screen and (max-width: $screen-md)
    .hero
        height: 75vh
        .hero__container
            height: fit-content
            width: 100%
            border-radius: 0px
            display: flex
            justify-content: center
            .hero__item
                padding: 1rem
                position: relative
                display: flex
                flex-direction: column
                align-items: center
                width: 400px
