@import '../../sassStyles/_variables'
@import '../../sassStyles/_typography'
@import '../../sassStyles/_mixins'

.hero
    height: 70vh
    background: url("../../img/bg.jpg")
    background-size: cover
    background-position: top
    background-attachment: fixed
    display: flex
    justify-content: center
    .wrapper
        width: 1000px
        height: 220px
        border-radius: 50px 50px 50px 150px
        background-color: $primary-color-opacity
        position: absolute
        bottom: 15rem
        padding-top: .5rem
        .text-wrapper
            width: 400px
            position: absolute
            left: 0
            text-align: right
        h1, h2
            color: $bright-primary-color
            margin: 0
        button
            @include cta-button
