@use '../../../styles/_variables'
@use '../../../styles/_mixins'
@use '../../../styles/_animations'
.models
    background-color: variables.$bright-primary-color
    width: 100%
    display: flex
    height: fit-content
    flex-direction: column
    margin: auto
    .modelsContainer
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(3, 1fr)
        grid-column-gap: 40px
        grid-row-gap: 10rem
        @include mixins.breakpoint(medium)
            grid-template-columns: 1fr
            grid-template-rows: repeat(6, 1fr)
            grid-column-gap: 0px
            grid-row-gap: 20px
