@use '../../../styles/_variables'

.btn_cta
    background-color: variables.$secondary-color
    border: none
    color: variables.$bright-primary-color
    padding: 0.5rem 1.5rem
    border-radius: 1.5rem
    font-family: variables.$secondary-font
    font-weight: variables.$regular-font
    text-decoration: none
    text-transform: uppercase
