@import '../../sassStyles/_variables'

.reviews
    background-color: $primary-color
    .title
        text-align: center
        padding: 1rem
        background-color: $bright-primary-color
    .reviews-wrapper
        height: fit-content
        width: 80%
        background-color: $primary-color
        display: flex
        justify-content: space-evenly
        margin: auto
        align-items: center
        .card-wrapper
            display: flex
            flex-direction: column
            width: 300px
            .main
                display: flex
                margin-top: 2rem
                .avatar
                    width: 100px
                    height: 100px
                    border-radius: 100%
                    object-fit: cover

                .name,
                .star
                    margin: 0.5rem
                .star
                    color: $secondary-color
                .name
                    font-weight: $medium-font
            .review
                color: $dark-primary-color
                font-family: $secondary-font
                font-weight: $regular-font
                line-height: 1.75
                min-height: 200px

@media screen and (max-width: $screen-lg)
    .reviews
        .title
        .reviews-wrapper
            flex-direction: column
            .card-wrapper
                width: 100%
                align-items: center
                .main
                    margin-top: 1rem
                .review
                    min-height: fit-content
                    margin-bottom: 1rem
