@use '../../../styles/_variables'

.container
    display: flex
    justify-content: center
    .list
        list-style: none
        margin: 0
        padding: 0
        width: 80%
        .listItem
            .productDetails
                justify-content: space-between
                display: flex
                width: 100%
                .name,
                .price
                    font-size: 2rem

        .product
            padding: 1rem 0rem 3rem 0rem
            border-bottom: 1px solid black
            display: flex
            align-items: center
            justify-content: space-between
            .productPhoto
                border-radius: 50px 75px 75px 150px
                background-color: variables.$primary-color
                .photo
                    width: 250px
                    height: 150px
