@use '_variables'

*
    box-sizing: border-box
html,
body
    font-size: 16px
    font-family: variables.$primary-font
    font-weight: variables.$bold-font
    min-height: 100vh
    background-clip: orange
html
    body
        margin: 0px
        padding: 0px
        box-sizing: border-box
html
    body
    .disableScroll
        overflow: hidden
        #root
            display: flex
            flex-direction: column
            min-height: 100%
