@use '../../../styles/_variables'

.info
    width: 25%
    margin-left: 2rem
    .infoContainer
        width: 5rem
        height: 4rem
        text-align: center
        background-color: variables.$primary-color
        border-radius: 50px 75px 75px 150px
        padding: .5rem
        .productName,
        .productPrice
            margin: 0
            text-transform: uppercase
        .productPrice
            color: variables.$bright-primary-color
    .productColor
        border: 2px solid variables.$dark-secondary-color
        border-radius: 50%
        font-size: 1.5rem
        margin: 0.5rem
        padding: 0
    .sizeSelect,
    .quantityInput
        box-sizing: border-box
        font-family: variables.$secondary-font
        width: 100%
        color: variables.$dark-secondary-color
        padding: .5rem
        border: .5px solid variables.$dark-secondary-color
        background-color: variables.$bright-secondary-color
    .quantityInput
        -moz-appearance: textfield
        appearance: textfield
    .productQuantity,
    .productSize,
    .productColor
        margin-bottom: 0

@media screen and (max-width: variables.$screen-md)
    .info
        margin-left: 0
        width: 90%
        .sizeInput,
        .quantityInput,
            display: block
