@use '../../../../styles/_variables'
@use '../../../../styles/_mixins'
@use '../../../../styles/_animations'
.mobileList
    overflow-y: scroll
    .link
        @include mixins.breakpoint(large)
            text-decoration: none
            color: variables.$dark-primary-color
    .product
        @include mixins.breakpoint(large)
            margin: 1rem 0rem
    .product .link
        @include mixins.breakpoint(large)
            background-color: variables.$primary-color
            color: variables.$dark-primary-color
            border-radius: 20px 90px 75px 190px
            text-decoration: none
    @include mixins.breakpoint(large)
        z-index: 10
        font-size: 2rem
        margin: 0
        align-items: left
        padding: 0
        padding-left: 2rem
        padding-top: 4rem
        height: 100vh
        background-color: variables.$bright-primary-color
        width: 250px
        display: flex
        flex-direction: column
        border-bottom: 6px solid variables.$primary-color
        list-style: none
        position: absolute
        top: 70px
    @include mixins.breakpoint(small)
        width: 100vw
        align-items: center
        padding-left: 0
@media (prefers-reduced-motion: no-preference)
    .mobileList
        animation-name: animate-flip
        animation-duration: .3s
        animation-iteration-count: 1
        .link,
        .mobileIconsList
