@use '../../../styles/_variables'
@use '../../../styles/_mixins'
.cart
    padding-bottom: 2rem
    position: relative
    .cartContainer
        display: flex
        flex-direction: column
        margin: auto
        width: 75%
        @include mixins.breakpoint(large)
            width: 97%
            padding: 1rem 0rem
        @include mixins.breakpoint(medium)
            align-items: center
