@import '../../sassStyles/_variables'

.active
    background-color: $bright-primary-color
.header
    background: $bright-color-opacity
.header,
.active
    width: 100%
    position: sticky
    top: 0
    z-index: 1
    header
        .navbar
            display: flex
            justify-content: space-around
            .navbar-list,
            .icons-list
                display: flex
                margin: 1rem auto
                justify-content: space-between
                padding: 0
                align-items: center
                list-style-type: none
                .logo-text
                    cursor: not-allowed
                    pointer-events: none
                    margin-bottom: 2rem
                .logo
                    cursor: not-allowed
                    pointer-events: none
                    font-size: 2.5rem
                    margin-right: 0.5rem
                .mobile-menu
                    display: none
                .mobile-menu-icon
                    display: none
                    cursor: not-allowed
                    pointer-events: none
                a
                    color: $dark-primary-color
                    font-weight: $regular-font
                    text-decoration: none
                    margin-right: 3rem
                    cursor: pointer
                    span
                        font-weight: $bold-font
                    .icon
                        font-size: 1.5rem
                a:hover
                    color: $primary-color
        .dropdown-menu .active
            background-color: $bright-color-opacity
        .dropdown-menu
            position: absolute
            background-color: $bright-color-opacity
            top: 72px
            left: 0
            width: 100vw
            height: 10vh
            display: flex
            align-items: center
            justify-content: center
            ul
                display: flex
                flex-direction: row
                list-style: none
                width: 100%
                justify-content: space-evenly
                li a
                    background-color: $primary-color
                    border-radius: 50px 75px 75px 150px
                    padding: .5rem
                    width: fit-content

@media screen and (max-width: $screen-lg)
    .header,
    .active
        header
            .navbar
                justify-content: space-between
                .navbar-list li:not(:nth-child(2))
                    display: none
                .navbar-list,
                .icons-list
                    margin: 1rem
                .navbar-list
                    .logo-text,
                    .logo
                        cursor: pointer
                        pointer-events: auto
                    .mobile-menu-icon
                        display: inline
                        cursor: pointer
                        pointer-events: auto
            .mobile-menu
                background-color: $bright-secondary-color-opacity
                width: 100vw
                position: absolute
                top: 72px
                height: calc( 100vh - 72px )
                .mobile-menu-list
                    font-size: 2rem
                    display: flex
                    flex-direction: column
                    list-style: none
                    .product
                        margin: 1rem 0rem
                    .product a
                        background-color: $primary-color
                        color: $dark-primary-color
                        border-radius: 20px 90px 75px 190px
                        text-decoration: none
                .mobile-menu-icons-list
                    display: none

@media (max-width: $screen-md)
    .header,
    .active
        header
            .navbar
                justify-content: left
                .navbar-list
                    margin: 1rem 1rem
                .icons-list
                    display: none
            .mobile-menu
                .mobile-menu-icons-list
                    display: flex
                    flex-direction: row
                    list-style: none
                    li a
                        padding: 0.5rem
                        font-size: 2rem
                        text-decoration: none
                        color: $dark-primary-color
