@use '../../../styles/_variables'

.order
    margin-top: 2rem
    background-color: variables.$bright-secondary-color
    display: flex
    .requestContainer
        display: flex
        flex-direction: column
        align-items: center
        width: 50%
        padding: 0rem 1rem
        .textarea
            border: none
            width: 100%
            height: 30vh
    .totalsContainer
        display: flex
        flex-direction: column
        align-items: center
        width: 50%
        padding: 0rem 1rem
        .totals
            background-color: variables.$bright-primary-color
            height: 30vh
            width: 100%
            display: flex
            .table
                width: 100%
                margin: .5rem
                border-collapse: collapse
                .row1
                    border-bottom: 1px solid variables.$dark-secondary-color
                    td:first-of-type
                        width: 30%
                        text-align: left
                    td:nth-of-type(2n)
                        text-align: right
                .row2
                    td:nth-of-type(2n)
                        text-align: right
                    p
                        font-weight: variables.$regular-font
        .buttons
            width: 100%

@media screen and (max-width: variables.$screen-md)
    .order
        width: 90vw
        flex-direction: column
        align-items: center
        .requestContainer,
        .totalsContainer
            width: 90%
            padding: 0rem
