@import './_variables'

*
    box-sizing: border-box

body

    margin: 0px
    font-family:
    box-sizing: border-box
    height: 100vh
    min-height: 100%
    font-size: 16px
    font-family: $primary-font
    font-weight: $bold-font
