@import './_variables'

@mixin btn-cta
    background-color: $secondary-color
    border: none
    color: $bright-primary-color
    padding: 0.5rem 1.5rem
    border-radius: 1.5rem
    font-family: $secondary-font

@mixin btn-secondary
    background-color: $dark-primary-color
    color: $bright-primary-color
    padding: 1rem 3rem
    border: none
    font-family: $primary-font
