@import '../../sassStyles/_variables'
@import '../../sassStyles/_typography'
@import '../../sassStyles/_animations'

.models
    background-color: $bright-primary-color
    width: 80%
    display: flex
    height: fit-content
    flex-direction: column
    margin: auto
    .title-wrapper h3
        margin: 3rem 2rem
        font-weight: $regular-font
    .models-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(3, 1fr)
        grid-column-gap: 40px
        grid-row-gap: 10rem
        .item
            display: flex
            justify-content: center
            margin: auto
            align-items: center
            .item-figure-1,
            .item-figure-2,
            .item-figure-3,
                width: 320px
                height: 250px
                background-color: $primary-color
            .item-figure-1,
            .item-figure-3
                border-radius: 50px 75px 75px 150px
            .item-figure-2
                border-radius: 75px 150px 50px 75px
            .photo
                width: 400px
                height: 280px
        .item-description
            display: flex
            flex-direction: column
            width: 400px
            h2
                margin: 0
            p
                margin: 1rem 1rem
                font-weight: $regular-font
                font-family: $secondary-font
                color: $dark-secondary-color

@media (prefers-reduce-motion: no-preference)
    .figure-animation
        animation-name: wipe-enter
        animation-duration: 1s
        animation-iteration-count: infinite
