@use "../../../../styles/_mixins"

.images
    margin: 0
    width: 75%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @include mixins.breakpoint(large)
        width: 50%
    @include mixins.breakpoint(medium)
        width: 90%
        height: fit-content
    .photo
        width: 450px
        height: 300px
    @include mixins.breakpoint(large)
        width: 425px
        height: 275px
